.scroll {
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border: transparent;
  outline: none;
  background-color: rgba(196, 196, 196, 0.473);
  position: fixed;
  left: .5rem;
  bottom: 1rem;
  color: rgba(153, 153, 153, 0.432);
}

.scroll:hover {
  color: rgb(153, 153, 153);
}

.scroll span {
  font-size: 2.4rem;
}

@media (min-width: 600px) {
  .scroll {
    left: 2rem;
  }
}

@media (min-width: 1024px) {
  .scroll {
    left: 4.5%;
    bottom: 4.5rem;
  }
}