.categories {
  width: 100%;
  padding: 2% 0;
  box-sizing: border-box;
  border-top: outset;
  text-align: center;
  background-color: rgb(196, 196, 196, 0.062);
}

.categories p {
  margin: 1.6%;
  font-size: 1.1rem;
  font-weight: 700;
}

.categories .items {
  position: absolute;
  left: 0;
  background-color: rgb(252, 252, 252);
  display: none;
  z-index: 10;
}

.categories:hover .animated {
  display: block;
  margin: 2%;
}

.categories .menu {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.categories button {
  font-size: 1rem;
  padding: 5%;
  line-height: 0.9;
  border: none;
  outline: none;
  background-color: transparent;
}

.categories button:hover {
  background-color: rgb(196, 196, 196);
}

@media (min-width: 600px) {
  .categories {
    float: right;
    width: 21%;
    border-top: none;
    border-left: outset;
    border-bottom: inset;
    border-radius: 4%;
    margin: 0 1%;
  }

  .categories .items {
    display: flex;
    flex-direction: column;
  }

  .categories:hover .animated,
  .categories .menu {
    all: unset;
  }

  .categories button {
    padding: 8%;
  }

  .categories p {
    text-align: center;
    margin: 3%;
  }
}

@media (min-width: 1024px) {
  .categories {
    width: 15%;
    margin-right: 12%;
  }
}
