.categories {
  width: 100%;
  padding: 2% 0;
  box-sizing: border-box;
  border-top: outset;
  text-align: center;
  background-color: rgb(196, 196, 196, 0.062);
  word-wrap: break-word;
}

.categories p {
  margin: 1.6%;
  font-size: 1.1rem;
  font-weight: 700;
}

.categories .items {
  position: absolute;
  left: 0;
  background-color: rgb(252, 252, 252);
  display: none;
  z-index: 10;
}

.categories:hover .animated {
  display: block;
  margin: 2%;
  height: 50%;
  overflow: auto;
}

.categories .menu {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.categories button {
  font-size: 0.9rem;
  padding: 5%;
  line-height: 0.9;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 50%;
  border-radius: 1rem;
}

.categories button img {
  max-width: 15%;
  border-radius: 100%;
  display: block;
  margin: 3% auto;
}

.categories button:hover {
  background-color: rgb(223, 223, 223);
}

.categories .selected {
  background-color: rgb(190, 190, 190);
  font-size: 1rem;
}

.categories .loading {
  transform: rotate(90deg);
  max-width: 50%;
  max-height: 50%;
  padding: 10%;
}

.categories button:active {
  box-sizing: border-box;
  border: 0.3rem solid rgb(223, 223, 223);
  font-weight: 700;
}

.categories button:active img {
  max-width: 18%;
}

@media (min-width: 600px) {
  .categories {
    float: right;
    width: 21%;
    border-top: none;
    border-left: outset;
    border-bottom: inset;
    margin: 0 1% 1% 1%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 1rem 0 0 1rem;
    position: fixed;
    right: 0;
    opacity: 0.5;
  }

  .categories:hover {
    opacity: 1;
  }

  .categories .items {
    width: 100%;
    display: block;
  }

  .categories:hover .animated,
  .categories .menu {
    all: unset;
  }

  .categories button {
    width: 86%;
    padding: 8%;
    display: block;
    margin: 0 auto;
    font-size: 0.7rem;
  }

  .categories .selected {
    font-size: 0.75rem;
  }

  .categories p {
    text-align: center;
    margin: 3%;
  }
}

@media (min-width: 1024px) {
  .categories {
    width: 15%;
    margin-right: 12%;
    height: 80vh;
  }

  .categories::-webkit-scrollbar {
    width: 0.6rem !important;
  }

  .categories::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.055);
  }
}
