.bar {
  width: 100%;
  max-height: 30%;
  padding: 0 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: inset;
}

.bar img {
  max-width: 50%;
  height: auto;
  cursor: pointer;
}

.bar .search-bar {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.bar button {
  position: absolute;
  color: grey;
  background-color: transparent;
  min-width: 5%;
  outline: none;
  border: none;
  cursor: pointer;
}

.bar i {
  font-size: 1.5rem;
  cursor: pointer;
}

.bar input {
  display: block;
  width: 0.1%;
  padding: 3%;
  border: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "";
  border-radius: 1rem;
  font-size: 1.1rem;
}

.bar input:focus {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  outline: none;
  margin-right: 15%;
  background-color: rgba(196, 196, 196, 0.116);
}

.bar button {
  padding-top: 0.3rem;
}

@media (min-width: 600px) {
  .bar {
    max-height: 30%;
  }

  .bar img {
    max-width: 12rem;
  }

  .bar .search-bar {
    min-width: 40%;
  }

  .bar i {
    font-size: 1.8rem;
  }

  .bar input {
    width: 100%;
    padding: 3%;
    margin-right: 15%;
    background-color: rgba(196, 196, 196, 0.116);
  }
}

@media (min-width: 1024px) {
  .bar {
    max-height: 20%;
    padding: 0 12%;
  }

  .bar img {
    max-width: 15rem;
  }

  .bar .search-bar {
    max-width: 100%;
  }

  .bar i {
    font-size: 1.8rem;
  }

  .bar input {
    width: 100%;
    padding: 2.3%;
  }

  .bar input:hover {
    border: thin solid;
    background-color: white;
  }
}
