.categories {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  border-top: outset;
  text-align: left;
  background-color: rgba(196, 196, 196, 0.062);
}

.categories p {
  margin: 1.6%;
  font-size: 1.1rem;
  font-weight: 700;
}

.categories .items {
  display: none;
}

.categories:hover .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.categories button {
  font-size: 1rem;
  padding: 1.8%;
  line-height: .9;
  border: none;
  outline: none;
  background-color: transparent;
}

.categories button:hover {
  background-color: rgb(196, 196, 196);
  border-radius: 5%;
}

@media (min-width: 600px) {
  .categories {
    float: right;
    width: 18%;
    border-top: none;
    border-left: outset;
    border-bottom: inset;
    border-radius: 4%;
    margin: 1%;
  }

  .categories .items {
    display: flex;
    flex-direction: column;
  }

  .categories button {
    padding: 8%;
  }

  .categories p {
    text-align: center;
    margin: 3%;
  }
}

@media (min-width: 1024px) {
  .categories {
    width: 12%;
    margin: 1% 12% 0 0;
  }
}